@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Courier+New");

body {
    font-family: Raleway, Arial;
    background-color: #f2baba;
}

b{
    font-weight: 900;
    text-decoration: underline;
}

code {
    font-family: Courier New;
    background-color: rgb(128, 128, 128, 0.5);
}

.title {
    font-family: inherit;
    margin-top: 10%;
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    animation: 3s pulse infinite;
}

.title img {
    display: inline-block;
    height: 200px;
    weight: 200px;
    padding-right: 10px;
}

.isDisabled {
    color: currentColor;
    opacity: 0.5;
    text-decoration: none;
}

.desc {
    display: block;
    margin: auto;
    padding: 30px;
    width: 65%;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.3;
}

.footer {
    display: inline-block;
    margin: auto;
    width: 100%;
    text-align: center;
    font-weight: 900;
}

.links {
    padding-left: 10px;
    padding-right: 10px;
}

@keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
}