@import url("https://fonts.googleapis.com/css?family=Raleway");

html {
    background-color: #eeeeee;
}

body {
    font-family: "Noto Sans CJK TC Regular", "Noto Sans", sans-serif;
    text-align: center;
}

.title {
    font-family: Raleway, Arial;
    margin-top: 10%;
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    animation: 3s pulse infinite;
}

.title img {
    display: inline-block;
    height: 200px;
    weight: 200px;
    padding-right: 10px;
}

.contributors {
    display: inline-block;
    margin: auto;
    padding: 60px;
    width: 80%;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.3;
}